.features-section__item:not(:last-child) {
    margin-bottom: 30px;
}

.features-section__wrapper {
    text-align: center;
    padding: 25px 0;
    background-color: var(--team-section-background-color);
    border-radius: 4px;

    margin-bottom: 30px;
}

.features-section__title {
    @include font (14px, 700, 1.14, 0.03em)
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 10px;
}

.features-section__content {
    @include font (14px, 400, 1.71, 0.03em)
    color: var(--third-color);
}



// .features-section__list {
//     display: flex;
// }

// .features-section__item:not(:last-child) {
//     margin-right: 30px;
// }


// .features-section__title {
//     @include font (14px, 700, 1.14, 0.03em)
//     text-transform: uppercase;

//     margin-bottom: 10px;
// }

// .features-section__content {
//     width: 270px;
//     @include font

//     color: var(--third-color);
// }