.modal-button {
    font-family: Roboto;
    @include font (16px, 700, 1.87, 0.06em)

    align-items: center;
    text-align: center;
    cursor: pointer;

    background: var(--accent-color);
    padding: 10px 32px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: var(--white-color);

    transition-property: background-color;

    &:hover,
    &:focus {
    background-color: var(--button-accent-color);
}

}

