.social-media {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
    .social-media {
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 30px;
    }
    
}


.social-media__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--link-color);

    transition-property: background-color, fill;

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    fill: var(--white-color);
    outline: none;
}
}
